## David Sánchez Rodríguez

Vamos a crear un ejemplo en el que podamos leer ficheros que tenemos almacenados en el Storage de Google Cloud

In [63]:
#Librerias necesarias
import pandas as pd
import google.datalab.storage as storage
from io import BytesIO
import sys

In [64]:
# %gcs read -o gs://dsr240-bucket-1/points.csv -v fichero

In [65]:
#definimos el Storage y leemos el fichero
mibucket = storage.Bucket('dsr240-bucket-1')
datoscsv = mibucket.object('points.csv')
uri = datoscsv.uri
%gcs read --object $uri --variable datos

In [66]:
#Pasamos el fichero que leemos a un dataframe de pandas.
df = pd.read_csv(BytesIO(datos), sep = ',')

In [67]:
#Comprobamos que hemos leido bien el fichero
df.head()

   longitude   latitude
0   4.013528  39.985459
1   4.013477  39.985537
2   4.013232  39.985333
3   4.009374  39.983523
4   4.008480  39.983372

In [68]:
# df.index.rename('Indice', inplace=True)

In [69]:
# df.head()

In [70]:
# Escribimos el fichero en el Storage en formato csv
%gcs write -v df -o gs://dsr240-bucket-1/latylong.csv -c 'text/csv'

In [71]:
#Comprobamos que hemos guardado bien el fichero
mibucket = storage.Bucket('dsr240-bucket-1')
datoscsv = mibucket.object('latylong.csv')
uri = datoscsv.uri
%gcs read --object $uri --variable datossalida
dfsalida = pd.read_csv(BytesIO(datossalida), sep = ',')

          longitude   latitude
0  0       4.013528  39.985459
1  1       4.013477  39.985537
2  2       4.013232  39.985333
3  3       4.009374  39.983523
4  4       4.008480  39.983372

Vemos que el fichero que hemos guardado tiene una columna más que corresponde al indice de la fila. Algo que deberíamos tratar en la escritura o lectura del fichero

In [72]:
dfsalida.head()

          longitude   latitude
0  0       4.013528  39.985459
1  1       4.013477  39.985537
2  2       4.013232  39.985333
3  3       4.009374  39.983523
4  4       4.008480  39.983372