## David Sánchez Rodríguez
Vamos a crear un ejemplo en el que podamos leer ficheros que tenemos almacenados en el Storage de Google Cloud

In [1]:
import pandas as pd
import google.datalab.storage as storage
from io import BytesIO
import sys

In [20]:
# %gcs read -o gs://dsr240-bucket-1/points.csv -v fichero

In [2]:
mibucket = storage.Bucket('dsr240-bucket-1')
datoscsv = mibucket.object('points.csv')
uri = datoscsv.uri
%gcs read --object $uri --variable datos

In [3]:
df = pd.read_csv(BytesIO(datos), sep = ',')

In [4]:
df.head()

   longitude   latitude
0   4.013528  39.985459
1   4.013477  39.985537
2   4.013232  39.985333
3   4.009374  39.983523
4   4.008480  39.983372